body {
    margin: 0;
    padding: 0;
    height: 100%
}

.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.error-content {
    text-align: center;
}

h1 {
    font-size: 3em;
    color: #333;
}

p {
    font-size: 1.2em;
    color: #666;
}