<div class="main-div">
    <div class="news-head"><b>Crypto News</b> </div>

    <div class="temp"></div>

    <div class="news-div">
        <div class="news-box"> 
            <div class="news-image">
                <div class="news-title"></div>
            </div>
            <div class="news-info"></div>
        </div>
        <div class="news-box">  </div>
        <div class="news-box">  </div>
        <div class="news-box">  </div>
        <div class="news-box">  </div>
        <div class="news-box">  </div>
        <div class="news-box">  </div>
    </div>
</div>

