.main-Div {
    max-height: 100vh;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.heading {
    height: 16vh;
    font-size: 2rem;
   // border-bottom: 1px solid rgb(229, 228, 226,0.6);
    background-color: rgb(229, 228, 226, 0.2);
    position: fixed;
    top: 0;
    width: 88%;
    z-index: 1000;
    display: flex;
    flex-direction: row-reverse;
    border: none;
}

.heading-items {
    height: 16vh;
    width: 53%;
    display: flex;  
    align-items: center;
}

.sort-crypto {
    height: 30%;
    width: 10%;
    display: flex;
    flex-direction: row;
    //margin-right: 2%;
}

.sort-crypto button {
    border: none;
}

.ascen:hover {
    background-color: rgb(229, 228, 226);
}

.desc:hover {
    background-color: rgb(229, 228, 226);
}

.filter {
    height: 30%;
    width: 24%;
    border-radius: 5px;
    border: none;
    padding-left: 2%;
    margin-left: 2%;
    margin-right: 7%;
}

input {
    height: 30%;
    width: 65%;
    max-width: 30%;
    padding-left: 2%;
    border-radius: 5px;
    border: none;
}

input:hover {
    border: 0.5px solid rgb(229, 228, 226);
}

.temp{
    height:16vh;
    background-color: rgb(229, 228, 226, 0.6);
    border: none;
}
.crypto-div{
    height: 84vh;
    overflow-y: auto;
    background-color: rgb(229, 228, 226, 0.6);
}



.info:hover {
    // box-shadow: 1px 1px 3px -0.5px rgba(0, 0, 0, 0.5);
    border: 2px solid rgb(229, 228, 226);
}

.info {
    height: 36%;
    min-width: 21%;
    width: 21%;
    margin-right: 1.4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255, 0.8);
    color: rgb(0, 0, 0, 0.7);
    border-radius: 7px;
    display: inline-block;
    margin-left: 1.5rem;
    margin-top: 1.8rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.info-head {
    height: 10vh;
    width: 100%;
    border-bottom: 1px solid rgb(229, 228, 226);
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.2rem;
    box-sizing: border-box;
}



.info-name {
    font-weight: 500;
    font-size: 1.1rem;
}

.info-body {
    height: 22vh;
    width: 88%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
}

.info-body>div {
    height: 5vh;
    font-weight: 500;
}

price span {
    margin-right: 0.25rem; 
}

.change span {
    margin-right: 0.25rem; 
}

.mkt span {
    margin-right: 0.25rem; 
}

.crypto-img {
    height: 5.5vh;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center; 
    overflow: hidden; 
    border-radius: 50%; 
    margin-right: 10%;
}

.crypto-img img {
    max-width: 100%; 
    max-height: 100%;
    border-radius: 50%; 
}
