<div class="main-div">
    <div class="heading">
        <div class="heading-items">
            <input type="text" placeholder="Search Crypto" />    
             <select class="filter" #filter (click)="filterFunction(filter.value)" [ngModel]="filterType"> 
                        <option default>{{filterType}}</option>
                        <option *ngFor="let sort of sortList" >{{sort}}</option>
            </select>
           <div class="sort-crypto">
                <button class="ascen" (click)="sortFunction('ascending')"> <fa-icon [icon]="faArrowUp"  [ngStyle]="{'color': sortType === 'ascending' ? 'green' : 'black'}"></fa-icon> </button>   
                <button  class="desc" (click)="sortFunction('descending')"> <fa-icon [icon]="faArrowDown" [ngStyle]="{'color': sortType === 'descending' ? 'red' : 'black' }"></fa-icon> </button>  
            </div>
        </div>       
    
    </div>

     <div class="temp"></div>

     <div class="crypto-div">
         <ng-container *ngFor="let AllStock of CryptosList;  let i = index">
                     <div class="info">
                        <div class="info-head">
                            <div class="info-name">{{i+1}}. {{ AllStock?.name.charAt(0).toUpperCase() + AllStock?.name.slice(1).toLowerCase()}}</div>
                            <div class="crypto-img"><img [src]="AllStock?.iconUrl"/></div>
                        </div>
                        <div class="info-body">
                            <div class="price" >
                                <span>Price: </span>
                                <fa-icon [icon]="faDollarSign" ></fa-icon>
                                {{AllStock?.price | number:'1.3-7'}}
                            </div>
                            <div class="change"  [ngStyle]="{'color': AllStock?.change > 0 ? 'green' : 'red'}" >
                                <span style="color: rgb(0,0,0,0.7);">Daily Change:  </span>
                                <fa-icon [icon]="faArrowUp" *ngIf="AllStock?.change > 0" ></fa-icon>
                                <fa-icon [icon]="faArrowDown" *ngIf="AllStock?.change < 0" ></fa-icon>
                                {{AllStock?.change | number:'1.2-2'}}%
                            </div>
                            <div class="mkt">
                                Market Cap: {{AllStock?.marketCap | toBillion}}
                            </div>
                        </div>
                     </div>
                </ng-container>
     </div>

     
</div>
