.main-Div{
    max-height: 100vh;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(229, 228, 226, 0.6);
}

.heading {
    height: 12vh;
    font-size: 2rem;
   // border-bottom: 1px solid rgb(229, 228, 226,0.6);
    background-color: rgb(229, 228, 226, 0.2);
    position: fixed;
    top: 0;
    width: 88%;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
}


.temp {
    height: 12vh;
    min-height: 12vh;
    background-color: rgb(229, 228, 226, 0.2);
}

.search-box{
    margin-left: 4.5%;
    height: 7vh;
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
}

.search-icon{
    position: absolute;
    top: 1rem;
    left: 0.8rem;
}


.search-box > input {
    width: 100%;
    height: 60%;
    border-radius: 1.5rem;
    padding-left: 2.4rem;
}

.user {
    width: 20%;
    max-width: 20%;
    height: 8vh;
    margin-right: 13%;
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(229, 228, 226, 0.2);
}

.user-info {
    width: 60%;
    max-width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.user-name {
    width: 70%;
    max-width: 70%;
    height: 100%;
    padding-top: 0.7rem;
    display: flex;
    flex-direction: row-reverse;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 600;
}

.user-logo {
    width: 30%;
    max-width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}


.notification {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.message{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.dashboard{
    height: 32vh;
    display: flex;
    flex-direction: row;
   // justify-content: center;
    align-items: center;
}

.money-info {
    height: 22vh;
    max-height: 22vh;
    width: 25%;
    margin-left: 5%;
    color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 10px;
}

.money-head {
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px 10px 0px 0px;
}

.money-infoName{
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
}

.iconInfo{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.money-type {
    margin-left: -22px;
    font-size: 1rem;
}

.money-pChange{
    width: 12vh;
    display: flex;
    justify-content: center;
    padding-top: 2vh;
}

.change{
    height: 3vh;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 0.8rem;
}

.money-value{
    height: 7vh;
    max-height: 7vh;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
}

.money-bottom{
    height: 3vh;
    min-height: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0px 0px 10px 10px;
}

.crypto-div{
    height: 56vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.crypto-list{
    height: 44vh;
    max-height: 44vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.crypto-list-head{
    height: 8vh;
    width: 103%;
    border: 1px solid black;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: rgb(0, 21, 41,0.7);
    color: white;
}

.crypto-scroll{
    height: 32vh;
    max-height: 32vh;
    overflow-y: scroll;
    width: 100%;
    margin-top: 1vh;
}

.list-item{
    height: 5vh;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list-item:nth-child(5) {
    width: 20%
  }

.crypto-list-body{
    height: 5vh;
    width: 97%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1.2vh;
    border: 0.5px solid grey;
    border-radius: 7px;
    font-size: 1rem;
}



.actions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.actions > button{
    width: 35%;
    height: 3vh;
    border-radius: 5px;
    font-size: 0.8rem;
}

.crypto-div-foot{
    height: 8vh;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    box-sizing: border-box;
    padding-right: 5%;
    font-size: 1.2rem;
}