<div class="main-Div">
    <div class="heading">
        <div class="search-box">
            <fa-icon [icon]="faSearch"  style="font-size:1.1rem" class="search-icon"></fa-icon>
            <input placeholder="Search here..." />
        </div>
        <div class="user">
            <div class="user-info">
                <div class="user-name">Rohit Thakur</div>
                <div class="user-logo">
                    <a routerLink="/login"><fa-icon [icon]="faUserCircle"  style='font-size:3rem ;color:rgb(0, 21, 41,0.9)'></fa-icon></a>
                </div>
            </div>
            <div class="notification"><fa-icon [icon]="faBell"  style="font-size:1.3rem" ></fa-icon></div>
            <div class="message"><fa-icon [icon]="faCommentAlt"  style="font-size:1.3rem; " ></fa-icon></div>
        </div>
    </div>

    <div class="temp"></div>
</div>
