<div class="main-Div">
    <div class="heading">
        <div class="search-box">
            <fa-icon [icon]="faSearch"  style="font-size:1rem" class="search-icon"></fa-icon>
            <input placeholder="Search here..." />
        </div>
        <div class="user">
            <div class="user-info">
                <div class="user-name">Rohit Thakur</div>
                <div class="user-logo">
                    <a routerLink="/login"><fa-icon [icon]="faUserCircle"  style='font-size:3rem ;color:rgb(0, 21, 41,0.9)'></fa-icon></a>
                </div>
            </div>
            <div class="notification"><fa-icon [icon]="faBell"  style="font-size:1.3rem" ></fa-icon></div>
            <div class="message"><fa-icon [icon]="faCommentAlt"  style="font-size:1.3rem; " ></fa-icon></div>
        </div>
    </div>

    <div class="temp"></div>

    <div class="dashboard">
        
        <div class="money-info">
            <div class="money-head"> 
                <div class="money-infoName">
                    <div><fa-icon [icon]="faLandmark"  style="font-size:2.2rem" ></fa-icon></div>
                    <div class="money-type">Balance</div>
                </div>
                <div class="money-pChange"><div class="change">12%</div></div>
            </div>
            <div class="money-value">$33,000</div>
            <div class="money-bottom">
                <div>+$1200 from last month</div>
                <div>More -></div>
            </div>
        </div>
        <div class="money-info"></div>
        <div class="money-info"></div>
    </div>
</div>
