<!-- <div *ngIf="isLoading;else loaded">loading</div>
<ng-template #loaded> -->
<div class="stocks-detail">
    <div class="stock-name">
        <div class="title"><b>Stock (Symbol) Price</b></div>
        <div>Stock live price in US Dollar (USD). View value statistics, market cap and supply.</div>
    </div>
    <div class="stock-chart" >
        <!-- <img [src]="img" /> -->
        <canvas id="acquisitions" #chart></canvas>
       
    </div>
    <div class="stock-timeline">
        <button (click)="timeLine(1)" [ngClass]="{'selected': btn == 1, 'unselected': btn != 1}">Today</button>
        <button (click)="timeLine(2)" [ngClass]="{'selected': btn == 2, 'unselected': btn != 2}">Last One Month</button>
        <button (click)="timeLine(3)" [ngClass]="{'selected': btn == 3, 'unselected': btn != 3}">Last One Year</button>
    </div>
   
</div>
<!-- </ng-template> -->
