.login-div {
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url('https://images.pexels.com/photos/6765705/pexels-photo-6765705.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}


.login-container {
    height: 51vh;
    width: 28%;
    border: 1px solid black;
    margin-top: 10%;
    border-radius: 9px;
    background-color: rgb(245, 241, 241,0.85);
}

.login-head {
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-title {
    font-size: 1.3rem;
}

.login-form {
    height: 34vh;
    width: 100%;
  
}

.input-field {
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}

.input-icon{
    position: absolute;
    left: 1rem; 
    top: 50%;
    transform: translateY(-50%);
    padding: 15px;
}

input {
    width: 80%;
    height: 65%;
    border-radius: 8px;
    padding-left: 2.4rem;
    border: 1px solid grey;
}

.form-ForgotPassword{
    width: 100%;
    height: 6vh;
    padding-left: 1.4rem;
    padding-top: 0.5rem;
    box-sizing: border-box;
    color: blue;
}

.button {
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button > button {
    width: 90%;
    height: 70%;
    border-radius: 8px;
    background-color: rgb(21, 132, 176);
    color: white;
}

.Signup-box {
    width: 100%;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Social-MediaLogin{
    height: 8vh;
    max-height: 8vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social-mediaDiv{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.social-mediaLink{
    height: 100%;
    max-width: 13%;
    min-width: 13%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.social-mediaLink > img {
    max-height: 80%;
    height: 80%;
    max-width: 100%;
    width: 100%;
    border-radius: 50%;
}

.Signup-box {
    width: 100%;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}