<div class="login-div">
    
    <div class="login-container">
        <div class="login-head"><div class="login-title"><b>Login</b></div> </div>
        <div class="login-form">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <div class="input-field" > <span class="fa fa-user p-2"></span> <input formControlName="username" type="text" placeholder="Username" required> </div>
                </div>
                <small *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required','username')" class="text-danger">*Username is required*</small>
                <div class="form-group">
                    <div class="input-field" >  <input formControlName="password" [type]="type" placeholder="Password">     </div>
                </div>
                <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')" class="text-danger">*Password is required*</small>
                <div class="form-ForgotPassword "> Forgot password? </div>
                <div class="button" >  <button type="submit" >Login</button></div>
                <div class="Signup-box">Don't have an account? <a id="forgot" href="#" routerLink="/signup">Sign up</a> </div>
            </form>
        </div>
        <div class="Social-MediaLogin">
            <div class="social-mediaDiv">
                <a href="https://wwww.facebook.com" target="_blank" class="social-mediaLink"> <img src="https://www.dpreview.com/files/p/articles/4698742202/facebook.jpeg" alt=""> </a>
                <a href="https://www.google.com" target="_blank" class="social-mediaLink"> <img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png" alt=""> </a>
                <a href="https://www.github.com" target="_blank" class="social-mediaLink"> <img src="https://www.freepnglogos.com/uploads/512x512-logo-png/512x512-logo-github-icon-35.png" alt=""> </a>
            </div>
        </div>
    </div>
</div>
