
<div class="navbar">
    <div class="nav-head">
        <div class="logo"><fa-icon [icon]="faLeaf" size="3x"></fa-icon></div>
        <div class="logo-name"> <b>StockVerse</b></div>
    </div>
    <div class="nav-main">
        <ul>
             <li><a routerLink="" [ngClass]="{'active': isSpecial}" (click)="makeActive()"><fa-icon [icon]="home" style="padding: 15px;"></fa-icon>Home</a> </li>
             <li><a routerLink="stocks" routerLinkActive="active" (click)="removeActive()"><fa-icon [icon]="faDollarSign" style="padding: 15px;"></fa-icon>Stocks</a></li> 
             <li><a routerLink="nifty" routerLinkActive="active" (click)="removeActive()"><fa-icon [icon]="faNewspaper" style="padding: 15px;"></fa-icon>Nifty 50</a></li>        
             <li><a routerLink="news" routerLinkActive="active" (click)="removeActive()"><fa-icon [icon]="faNewspaper" style="padding: 15px;"></fa-icon>News</a></li>
             <li><a routerLink="overview" routerLinkActive="active" (click)="removeActive()"><fa-icon [icon]="faNewspaper" style="padding: 15px;"></fa-icon>Overview</a></li>
        </ul>
    </div>
    <div class="nav-foot">
        <p class="copyright-text"> 2023 Stocks Evaluation</p>
        <p class="copyright-text">All Right Reserved</p>
    </div>
</div>
