<div class="main-Div">
    <div class="heading">
        <div class="heading-title"><b>Global Crypto Stats</b></div>
    </div>

    <div class="temp"></div>

    <div class="stats">
        <div class="stats-row">
            <div class="stats-col">
                <div class="col-title">Total Cryptocurrencies</div>
                <div class="col-value">{{cryptosStats.data.stats.total | numberFormat }}</div>
            </div>
             <div class="stats-col">
                <div class="col-title">Total Exchanges</div>
                <div class="col-value">{{cryptosStats.data.stats.totalExchanges }}</div>
             </div>
        </div>

         <div class="stats-row">
            <div class="stats-col">
                <div class="col-title">Total Market Cap</div>
                <div class="col-value">{{cryptosStats.data.stats.totalMarketCap | toBillion}}</div>
            </div>
             <div class="stats-col">
                <div class="col-title">Total 24h Volume</div>
                <div class="col-value">{{cryptosStats.data.stats.total24hVolume | toBillion}}</div>
             </div>
        </div>

         <div class="stats-row">
            <div class="stats-col">
                <div class="col-title">Total Cryptocurrencies</div>
                <div class="col-value">{{cryptosStats.data.stats.total | numberFormat}}</div>
            </div>
             <div class="stats-col">
                <div class="col-title">Total Markets</div>
                <div class="col-value">{{cryptosStats.data.stats.totalMarkets |  numberFormat}}</div>
             </div>
        </div>
    </div>

    <div class="crypto">
        <div class="crypto-head">
             <div class="crypto-title">Today's 10 Best Performing Cryptos</div>
             <div class="crypto-desc"  >
                <a routerLink="/home/stocks" [queryParams]="{ key: 'Profit' }" > Show more </a>
            </div>
        </div>

        <div class="crypto-body" >
            <div class="btn-right"><fa-icon [icon]="faAngleDoubleLeft" class="arrow-left" (click)="scrollLeft(BestStocks)" ></fa-icon></div>
            <div class="crypto-info" #BestStocks>
                <ng-container *ngFor="let item of items;  let i = index">
                     <div class="info">
                        <div class="info-head">
                            <div class="info-name">{{i+1}}. {{ Beststock[item]?.symbol.charAt(0).toUpperCase() + Beststock[item]?.symbol.slice(1).toLowerCase()}}</div>
                        </div>
                        <div class="info-body">
                            <div class="price" >
                                <fa-icon [icon]="faRupeeSign" ></fa-icon>
                                {{Beststock[item]?.lastPrice}}
                            </div>
                            <div class="change" style="color: green;">
                                 <fa-icon [icon]="faArrowUp" ></fa-icon>
                                {{Beststock[item]?.change}} ({{Beststock[item]?.pChange}}%)
                            </div>
                            <div class="mkt">
                                Market Cap: {{Beststock[item]?.totalTradedValue | toBillion}}
                            </div>
                        </div>
                     </div>
                </ng-container>               
            </div>   
            <div class="btn-right"><fa-icon [icon]="faAngleDoubleRight" class="arrow-right" (click)="scrollRight(BestStocks)"></fa-icon></div>               
        </div>
    
    </div>

    <div class="crypto">
        <div class="crypto-head">
             <div class="crypto-title">Today's 10 Worst Performing Cryptos</div>
             <div class="crypto-desc"  >
                <a routerLink="/home/stocks" [queryParams]="{ key: 'Loss' }" > Show more </a>
            </div>
        </div>

        <div class="crypto-body" >
            <div class="btn-right"><fa-icon [icon]="faAngleDoubleLeft" class="arrow-left" (click)="scrollLeft(LossStocks)" ></fa-icon></div>
            <div class="crypto-info" #LossStocks>
                <ng-container *ngFor="let item of items;  let i = index">
                     <div class="info">
                        <div class="info-head">
                            <div class="info-name">{{i+1}}. {{ WorstStock[item]?.symbol.charAt(0).toUpperCase() + Beststock[item]?.symbol.slice(1).toLowerCase()}}</div>
                        </div>
                        <div class="info-body">
                            <div class="price" >
                                <fa-icon [icon]="faRupeeSign" ></fa-icon>
                                {{WorstStock[item]?.lastPrice}}
                            </div>
                            <div class="change" style="color: red;">
                                 <fa-icon [icon]="faArrowDown" ></fa-icon>
                                {{WorstStock[item]?.change}} ({{WorstStock[item]?.pChange}}%)
                            </div>
                            <div class="mkt">
                                Market Cap: {{WorstStock[item]?.totalTradedValue | toBillion}}
                            </div>
                        </div>
                     </div>
                </ng-container>               
            </div>    
            <div class="btn-right"><fa-icon [icon]="faAngleDoubleRight" class="arrow-right" (click)="scrollRight(LossStocks)"></fa-icon></div>                             
        </div>
    
    </div>

   

    
</div>
