<div class="main-Div">
    <div class="heading">
        <div class="heading-title"><b>Indian Stock Stats</b></div>
    </div>

    <div class="temp"></div>

    <div class="stats">
        <div class="stats-row">
            <div class="stats-col">
                <div class="col-title">Total Listed Companies</div>
                <div class="col-value">3000</div>
            </div>
             <div class="stats-col">
                <div class="col-title">Total Exchanges</div>
                <div class="col-value">170</div>
             </div>
        </div>

         <div class="stats-row">
            <div class="stats-col">
                <div class="col-title">Total Market Cap</div>
                <div class="col-value">$4T</div>
            </div>
             <div class="stats-col">
                <div class="col-title">Sensex</div>
                <div class="col-value">71,334</div>
             </div>
        </div>

         <div class="stats-row">
            <div class="stats-col">
                <div class="col-title">Bank Nifty</div>
                <div class="col-value">46,384.55</div>
            </div>
             <div class="stats-col">
                <div class="col-title">Nifty 50</div>
                <div class="col-value">22,040.70</div>
             </div>
        </div>
    </div>

    <div class="stocks">
        <div class="stocks-head">
             <div class="stocks-title">Today's 10 Best Performing Stocks</div>
             <div class="stocks-desc"  >
                <a routerLink="/home/stocks" [queryParams]="{ key: 'Profit' }" > Show more </a>
            </div>
        </div>

        <div class="stocks-body" >
            <div class="btn-right"><fa-icon [icon]="faAngleDoubleLeft" class="arrow-left" (click)="scrollLeft(BestStocks)" ></fa-icon></div>
            <div class="stocks-info" #BestStocks>
                <ng-container *ngFor="let item of items;  let i = index">
                     <div class="info">
                        <div class="info-head">
                            <div class="info-name">{{i+1}}. {{ Beststock[item]?.symbol.charAt(0).toUpperCase() + Beststock[item]?.symbol.slice(1).toLowerCase()}}</div>
                        </div>
                        <div class="info-body">
                            <div class="price" >
                                <fa-icon [icon]="faRupeeSign" ></fa-icon>
                                {{Beststock[item]?.lastPrice}}
                            </div>
                            <div class="change" style="color: green;">
                                 <fa-icon [icon]="faArrowUp" ></fa-icon>
                                {{Beststock[item]?.change}} ({{Beststock[item]?.pChange}}%)
                            </div>
                            <div class="mkt">
                                Market Cap: {{Beststock[item]?.totalTradedValue | toBillion}}
                            </div>
                        </div>
                     </div>
                </ng-container>               
            </div>   
            <div class="btn-right"><fa-icon [icon]="faAngleDoubleRight" class="arrow-right" (click)="scrollRight(BestStocks)"></fa-icon></div>               
        </div>
    
    </div>

    <div class="stocks">
        <div class="stocks-head">
             <div class="stocks-title">Today's 10 Worst Performing Stocks</div>
             <div class="stocks-desc"  >
                <a routerLink="/home/stocks" [queryParams]="{ key: 'Loss' }" > Show more </a>
            </div>
        </div>

        <div class="stocks-body" >
            <div class="btn-right"><fa-icon [icon]="faAngleDoubleLeft" class="arrow-left" (click)="scrollLeft(LossStocks)" ></fa-icon></div>
            <div class="stocks-info" #LossStocks>
                <ng-container *ngFor="let item of items;  let i = index">
                     <div class="info">
                        <div class="info-head">
                            <div class="info-name">{{i+1}}. {{ WorstStock[item]?.symbol.charAt(0).toUpperCase() + Beststock[item]?.symbol.slice(1).toLowerCase()}}</div>
                        </div>
                        <div class="info-body">
                            <div class="price" >
                                <fa-icon [icon]="faRupeeSign" ></fa-icon>
                                {{WorstStock[item]?.lastPrice}}
                            </div>
                            <div class="change" style="color: red;">
                                 <fa-icon [icon]="faArrowDown" ></fa-icon>
                                {{WorstStock[item]?.change}} ({{WorstStock[item]?.pChange}}%)
                            </div>
                            <div class="mkt">
                                Market Cap: {{WorstStock[item]?.totalTradedValue | toBillion}}
                            </div>
                        </div>
                     </div>
                </ng-container>               
            </div>    
            <div class="btn-right"><fa-icon [icon]="faAngleDoubleRight" class="arrow-right" (click)="scrollRight(LossStocks)"></fa-icon></div>                             
        </div>
    
    </div>

     <div class="stocks">
        <div class="stocks-head">
             <div class="stocks-title">Today's 10 Best Nifty50 Stocks</div>
             <div class="stocks-desc"  >
                <a routerLink="/home/stocks" > Show more </a>
            </div>
        </div>

        <div class="stocks-body" >
            <div class="btn-right"><fa-icon [icon]="faAngleDoubleLeft" class="arrow-left" (click)="scrollLeft(BestNifty)" ></fa-icon></div>
            <div class="stocks-info" #BestNifty>
                <ng-container *ngFor="let item of items;  let i = index">
                     <div class="info">
                        <div class="info-head">
                            <div class="info-name">{{i+1}}. {{ Nifty50[item+1]?.symbol.charAt(0).toUpperCase() + Nifty50[item+1]?.symbol.slice(1).toLowerCase()}}</div>
                        </div>
                        <div class="info-body">
                            <div class="price" >
                                <fa-icon [icon]="faRupeeSign" ></fa-icon>
                                {{Nifty50[item+1]?.lastPrice}}
                            </div>
                            <div class="change"  [ngStyle]="{'color': Nifty50[item+1]?.pChange > 0 ? 'green' : 'red'}" >
                                <fa-icon [icon]="faArrowUp" *ngIf="Nifty50[item+1]?.pChange > 0" ></fa-icon>
                                <fa-icon [icon]="faArrowDown" *ngIf="Nifty50[item+1]?.pChange < 0" ></fa-icon>
                                {{Nifty50[item+1]?.change}} ({{Nifty50[item+1]?.pChange}}%)
                            </div>
                            <div class="mkt">
                                Market Cap: {{Nifty50[item+1]?.totalTradedValue | toBillion}}
                            </div>
                        </div>
                     </div>
                </ng-container>               
            </div>    
            <div class="btn-right"><fa-icon [icon]="faAngleDoubleRight" class="arrow-right" (click)="scrollRight(BestNifty)"></fa-icon></div>                             
        </div>

        
    
    </div>

     <div class="stocks">
        <div class="stocks-head">
             <div class="stocks-title">Today's 10 Worst Nifty50 Stocks</div>
             <div class="stocks-desc"  >
                <a routerLink="/home/stocks" > Show more </a>
            </div>
        </div>

        <div class="stocks-body" >
            <div class="btn-right"><fa-icon [icon]="faAngleDoubleLeft" class="arrow-left" (click)="scrollLeft(LossNifty)" ></fa-icon></div>
            <div class="stocks-info" #LossNifty>
                <ng-container *ngFor="let item of items;  let i = index">
                     <div class="info">
                        <div class="info-head">
                            <div class="info-name">{{i+1}}. {{ WorstNifty50[item]?.symbol.charAt(0).toUpperCase() + WorstNifty50[item]?.symbol.slice(1).toLowerCase()}}</div>
                        </div>
                        <div class="info-body">
                            <div class="price" >
                                <fa-icon [icon]="faRupeeSign" ></fa-icon>
                                {{WorstNifty50[item]?.lastPrice}}
                            </div>
                            <div class="change"  [ngStyle]="{'color': WorstNifty50[item]?.pChange > 0 ? 'green' : 'red'}" >
                                <fa-icon [icon]="faArrowUp" *ngIf="WorstNifty50[item]?.pChange > 0" ></fa-icon>
                                <fa-icon [icon]="faArrowDown" *ngIf="WorstNifty50[item]?.pChange < 0" ></fa-icon>
                                {{WorstNifty50[item]?.change}} ({{WorstNifty50[item]?.pChange}}%)
                            </div>
                            <div class="mkt">
                                Market Cap: {{WorstNifty50[item]?.totalTradedValue | toBillion}}
                            </div>
                        </div>
                     </div>
                </ng-container>               
            </div> 
            <div class="btn-right"><fa-icon [icon]="faAngleDoubleRight" class="arrow-right" (click)="scrollRight(LossNifty)"></fa-icon></div>                                
        </div>

        
    
    </div>

    
</div>
