/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 0px;
    /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    /* Color of the thumb */
    border-radius: 4px;
    /* Radius of the thumb */
}